.search-container input {
    padding: 12px;
    position: relative;
    top: -48rem;
    left: 25rem;
    border: 1px solid gray;
    border-radius: 20px;
    width: 15%;
    color: #fff;
    background-color: #1a1a1a;
}

.search-container input::placeholder {
    color: #ccc;
}