.search-container {
    input {
        padding: 12px 50px;
        position: relative;
        top: -54rem;
        left: 50rem;
        border: 1px solid gray;
        border-radius: 20px;
        width: 20%;
        color: #fff;
        background-color: #1a1a1a;

        input::placeholder {
            color: #ccc;
            padding: 0px;
        }
    }
}

.search img {
    position: relative;
    top: -55.9rem;
    left: 51rem;
}
